{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Face expression</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark" >
      <a class="navbar-brand">Face expression detection</a>
      <form class="form-inline">
        
        <button class="btn btn-outline-info" type="submit">Show Data</button>
      </form>
    </nav>
    <br><br>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div>
        <img class="img-responsive" src="{% url 'video_feed' %}" alt="{% static 'pages/images/test.jpg' %}" width="460" height="345">
        <br><br>
        <!-- <div>
          <button type="button" class="btn btn-primary">Start detecting</button>
          <button type="button" class="btn btn-primary float-right">Stop detecting</button>
        </div> -->
        <div>
          <table class="table">
            <thead>
              <tr>
                
                <th scope="col">No of faces</th>
                <th scope="col">Emotion</th>
              </tr>
            </thead>
            <tbody id="display">
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <!-- <img class="img-responsive" src="{% url 'video_feed' %}" alt="{% static 'pages/images/test.jpg' %}" width="460" height="345">
    <button type="button" class="btn btn-primary">Start detecting</button> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
    <script>
      $(document).ready(function(){
        setInterval(function(){
          $.ajax({
            type:'GET',
            url:"{% url 'getData' %}",
            success:function(response){
              $("#display").empty();
              for(var key in response.data){
                console.log(response.data[key].emotions)
                var temp = "<tr><th scope='row'>"+response.data[key].no_of_faces+"</th><td>"+response.data[key].emotions+"</td></tr>";
                $("#display").append(temp);
              }
              
            },
            error:function(response){
              console.log('No data found');
            }
          })
        },1000);
      });
    </script>
  
  </body>
</html>